<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
   
  </head>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
      <ul class="navbar-nav">
        <li><a  routerLink="/login" class="nav-link"><fa-icon [icon]="home"></fa-icon>Home</a></li>&nbsp;
        <!-- <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/todos" class="nav-link">Todos</a></li>&nbsp;
        <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/students" class="nav-link">Students</a></li>&nbsp; -->
        <li><a    routerLink="/userprofile" class="nav-link"><fa-icon [icon]="userIcon"></fa-icon> My Profile</a></li>&nbsp;
        <li><a    routerLink="/recommendations" class="nav-link"><fa-icon [icon]="locationIcon"></fa-icon> My Recommendations</a></li>&nbsp;
        <li><a    routerLink="/addreviews" class="nav-link"><fa-icon [icon]="iconStar"></fa-icon> Add Reviews</a></li>&nbsp;
      
     
      </ul>
      <ul class="navbar-nav navbar-collapse justify-content-end">
        
      
        <li><a   (click)="logout()"  routerLink="/logout" class="nav-link"><fa-icon [icon]="arrowOut"></fa-icon> Logout</a></li>
      
      </ul>
    </nav>  
  
  </header>
  <div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>
  <script>
   const map = L.map('map').setView([0, 0], 1);
   const marker=L.marker([0,0]).addTo(map);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
       attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
       maxZoom: 18,
       id: 'mapbox/streets-v11',
       tileSize: 512,
       zoomOffset: -1,
       accessToken: 'your.mapbox.access.token'
   }).addTo(map);
   </script>
