p {
    font-family: Tahoma, Verdana, sans-serif;
    }
h1 {
        font-family: Tahoma, Verdana, sans-serif;
        }
h2 {
            font-family: Tahoma, Verdana, sans-serif;
            }
ul {
        font-family: Tahoma, Verdana, sans-serif;
                }
form {
                    font-family: Tahoma, Verdana, sans-serif;
                            }
button {
    font-family: Tahoma, Verdana, sans-serif;
                                }