p {
    font-family: Tahoma, Verdana, sans-serif;
    }
    table {
        font-family: Tahoma, Verdana, sans-serif;
        }
        header {
            font-family: Tahoma, Verdana, sans-serif;
            }