p {
    font-family: Tahoma, Verdana, sans-serif;
}
table {
    font-family: Tahoma, Verdana, sans-serif;
}
header {
    font-family: Tahoma, Verdana, sans-serif;
}
#map {
    height: 180px;
    border: 1px solid black;
}
img {  
    width:50%;  
    height: auto; 
    border-radius: 8px; 
    } 
