<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <ul class="navbar-nav">
      <li><a  routerLink="/welcome/karamoua" class="nav-link">Home</a></li>&nbsp;
    
      <li><a    routerLink="/userprofile" class="nav-link">My Profile</a></li>&nbsp;  
         
    </ul>
    <ul class="navbar-nav navbar-collapse justify-content-end">
      
  
      <li><a   (click)="logout()"  routerLink="/logout" class="nav-link">Logout</a></li>
    
    </ul>
  </nav>  

</header>

<div class="form-group">
  <label for="interesting">
   List Of possible interestings
     <p>
     <select id="interesting"  name="interesting"  ng-model="selectedInteresting" (change)="selectChangeHandler($event)" >
      <option disabled selected value> -- select an interesting-- </option>
        <option  *ngFor="let obj of interArr"  value="{{ obj.id }}" >{{ obj.id }} -- {{ obj.description }}</option>
      </select>
   
  </label>

  <p>
  <button type="button" class="btn btn-success" (click)=saveInteresting() btn-lg>Add --Interesting</button><p>
  <button (click)=deleteInteresting() class="btn btn-danger" btn-lg> Delete Interesting</button>
  <!-- (click)="deleteInterestings(id,interId)" -->
</div>



