<h1>My Students</h1>
<div class="alert alert-success"  *ngIf='message'>{{ message}}</div>
<div class="container">
<table  border="1" class="table table-striped table-hover" width="5">
 
    <thead>
        <tr >
           <th style="width:16.66%">Name</th>
           <th style="width:16.66%">Email</th>
           <th style="width:16.66%">Date Of Birth</th>
           <th style="width:16.66%">Update</th>
           <th style="width:16.66%">Delete</th>
        </tr>
    </thead>
    
    <tbody>
<!-- 
        <di class="container">
            <button type="button" class="btn btn-primary" (click)="getTodos()">{{g?"hide Todo":"find Todo"}}</button>
        </di -->
        <tr *ngFor= "let student of Student">
            <td style="width:16.66%" >{{student.name }}</td>
            <td>{{student.email}}</td>
            <td style="width:16.66%">{{student.dob}}</td> 
            <!-- (click)="updateTodo(todo.id)"  -->
            <td><button  class="btn btn-success">Update</button></td>
            <!-- (click)="deleteTodos(todo.id)"  -->
            <td><button  class="btn btn-danger">Delete</button></td>
            <!-- <button type="button" class="btn btn-success" (click)="createTodos()" >Save</button>
           -->
        </tr>
    </tbody>
</table>

</div>
<div class="raw">
    <!-- (click)="addTodo()" -->
    <button (click)="addStudent()" class="btn btn-success">Create</button>
</div>

