p {
    font-family: Tahoma, Verdana, sans-serif;
    }

h1 {
    font-family: Tahoma, Verdana, sans-serif;
        }
form { 
         font-family: Tahoma, Verdana, sans-serif;
            }
header { 
                font-family: Tahoma, Verdana, sans-serif;
                   }
